@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-ExtraLight.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 200;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Light.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-LightItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Italic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-SemiBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 600;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-BoldItalic.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-Black.ttf') format('truetype');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: 900;
  font-display: swap;
  font-style: italic;
  font-stretch: normal;
  src: url('/fonts/Source_Serif_Pro/SourceSerifPro-BlackItalic.ttf') format('truetype');
}


/* montserrat-100normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url('/fonts/Montserrat/Montserrat-Thin.ttf')  format('truetype');
}

/* montserrat-100italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: url('/fonts/Montserrat/Montserrat-ThinItalic.ttf')  format('truetype');
}

/* montserrat-200normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf')  format('truetype');
}

/* montserrat-200italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf')  format('truetype');
}

/* montserrat-300normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Montserrat/Montserrat-Light.ttf')  format('truetype');
}

/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Montserrat/Montserrat-LightItalic.ttf')  format('truetype');
}

/* montserrat-400normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype');
}



/* montserrat-400italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Montserrat/Montserrat-Italic.ttf')  format('truetype');
}

/* montserrat-500normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Montserrat/Montserrat-Medium.ttf')  format('truetype');
}

/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Montserrat/Montserrat-MediumItalic.ttf')  format('truetype');
}

/* montserrat-600normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/Montserrat/Montserrat-SemiBold.ttf')  format('truetype');
}

/* montserrat-600italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url('/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf')  format('truetype');
}

/* montserrat-700normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype');
}

/* montserrat-700italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Montserrat/Montserrat-BoldItalic.ttf')  format('truetype');
}

/* montserrat-800normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat-ExtraBold.ttf')  format('truetype');
}

/* montserrat-800italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf')  format('truetype');
}

/* montserrat-900normal - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:url('/fonts/Montserrat/Montserrat-Black.ttf')  format('truetype');
}

/* montserrat-900italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/Montserrat/Montserrat-BlackItalic.ttf')  format('truetype');
}

/* Bison 400*/
@font-face {
  font-family: 'Bison';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Bison/bison-thickoutline-webfont.ttf')  format('truetype');
}


/* Sriracha 400*/
@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Sriracha/Sriracha-Regular.ttf')  format('truetype');
}