.rhombus-date {
    width: 34px;
    height: 34px;
    background: #D30D1C;
    position: absolute;
    bottom: -17px;
    left: 30px;

    .btn-content {
        color: white;
        font-weight: bold;
        flex-direction: column;

        .day {
            font: normal normal normal 13px/16px Montserrat;
        }

        .month {
            font: normal normal normal 8px/11px Montserrat;
        }
    }
}



@media (min-width: 992px) {
    .rhombus-date {
        .btn-content {
            .day {
                font: normal normal 500 16px/16px Montserrat;
            }

            .month {
                font: normal normal normal 11px/11px Montserrat;
            }
        }
    }
}
